.nav__headlines__advancedSearch_button {
    background-color: #0057B8;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    z-index: 2;

    &:hover {
      background-color: #FFD700;
      color: black;
    }
  }

  .nav__headlines{
    display: flex;
justify-content: center;
padding-left: 150px;
  }

  .nav{
    margin-top: -70px;
    
  }



.nav__component{
    max-width: 160px;
    background: gray;
    position:relative;
    z-index: 10;
    margin-top: -50px;
    padding-top: 70px;
    padding-left: 20px;
    margin-left: -10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    transform: translateX(-101%);
    transition: transform 0.5s ease-in-out;
    padding-bottom: 20px;
}

.nav__component.open {
  transform: translateX(0);
}
.nav__component_list_item_link{
  text-align: center; /* Центрує текст */
  font-size: 18px; /* Розмір шрифту */
  font-weight: bold; /* Жирний шрифт */
  color: #ccc;
  line-height: 1.5; /* Висота рядка */
  font-family: "Arial", sans-serif; /* Шрифт */
  &:hover { 
    color:#0057b8;

 
  }
}



.nav__component_list_item_active{
  color: gold;
  font-size: 20px;
}

@media (min-width: 1100px) {
  .nav__component{
    all: unset; 
    display: block;
    background-color: gray;
    padding-bottom: 30px;
    width: 100%;
  }
  .nav__component_list{
    display:flex ;
    padding-top: 30px;
    width: 1200px;
    margin: 0 auto;
    
  }
  
  .nav__component_list_item{
    margin-left: 20px;
  }
  .nav__headlines__advancedSearch_button{
   margin-bottom: 30px;
  }
}

